h1, h2 {
    border-bottom: 1px solid #eeebee;
    padding-bottom: .3em;
}

p img[align=left] {
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

p img {
    box-sizing: content-box;
    max-width: 445px;
    max-height: 150px;
}

table tr td a img {
    text-align: center;
    margin: 0 auto;
    display: block;
}